.form__row {
  display: flex;
  margin-bottom: 28px;
}

.form__input {
  margin-right: 30px;
  flex: 1;
  border-radius: 4px;
  border: none;
  background: #fff;
  padding: 22px 30px;
  font-size: 18px;
  border: 1px transparent solid;
}

.form__input:focus {
  outline: 0;
  border: 1px #E7E7E7 solid;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input::placeholder {
  color: #666;
}

.form__input--textarea {
  height: 232px;
}

.form__tags-area {
  display: flex;
  margin-bottom: 25px;
}

.form__tags-title {
  font-size: 18px;
  width: 33%;
  color: #1A1B1E;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  margin-right: 20px;
}

.form__btn:last-child {
  margin-right: 0;
}