.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  position: relative;
  transition: .5s;
}

.socials__item--icon--telegram .socials__link:after, 
.socials__item--icon--vk .socials__link:after,
.socials__item--icon--fb .socials__link:after,
.socials__item--icon--instagram .socials__link:after
 {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
}

.socials__item--icon--telegram .socials__link:after{
  background: url('/images/icons/socials/sprites-socials.png') -10px -66px;
}

.socials__item--icon--vk .socials__link:after {
  background: url('/images/icons/socials/sprites-socials.png') -66px -66px;
}

.socials__item--icon--fb .socials__link:after {
  background: url('/images/icons/socials/sprites-socials.png') -10px -10px;
}

.socials__item--icon--instagram .socials__link:after {
  background: url('/images/icons/socials/sprites-socials.png') -66px -10px;
}

.socials__item--icon--telegram .socials__link, 
.socials__item--icon--vk .socials__link,
.socials__item--icon--fb .socials__link,
.socials__item--icon--instagram .socials__link {
  opacity: .2;
}

.socials__item--icon--telegram .socials__link:hover,
.socials__item--icon--vk .socials__link:hover,
.socials__item--icon--fb .socials__link:hover,
.socials__item--icon--instagram .socials__link:hover {
  opacity: .4;
}
